<div>
<ul class="book-list">
    {{#each books}}

  <li>
    <article class="book">
      <div class="title">
  
      </div>
              

        <a href="/book/{{id}}"> {{title}} </a>

      
    </article>
  </li>
    {{/each}}
    

</ul>

<form class="book-form">
  <div>
    <textarea name="book-title"></textarea>  
    </div>

  <div>
    <button type="submit">add book</button>
  </div>
</form>
</div>

  <script src="/javascript/book.js"></script>