<ul class="book-list">
    {{#each books}}

  <li>
    <article class="book">
      <div class="title">
  
      </div>
              

        <a href="/book/{{id}}"> {{title}} </a>

      
    </article>
  </li>
    {{/each}}

</ul>