<ul class="book-list">
    {{#each books}}

  <li>
    <article class="book">
      <div class="title">
        {{title}}
  
      </div>
      {{#if characters.length}}
      <div class="meta">
        
        <a href="/book/{{id}}">{{characters.length}} Characters</a>
      </div>
      {{/if}}
    </article>
  </li>
    {{/each}}

</ul>